.profile__edit-button {
  background: url(../../../images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  align-self: center;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  padding: 0;
}


@media screen and (max-width: 767px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    min-width: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}