.form__save-button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border: 0;
  margin: 10px 0 0 0;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .4s;
  background-color: black;
  color: #FFFFFF;
  font-family: inherit;
}

.form__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .form__save-button {
    margin: 6px 0 0 0;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}