.profile {
  padding: 40px 0 51px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 42px 19px 36px 19px;
    flex-direction: column;
    justify-content: center;
  }
}