.profile__name {
  margin-block: 0;
  margin-inline: 0;
  margin-right: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
}

@media screen and (max-width: 767px) {
  .profile__name {
    padding-left: 28px;
    margin: 0;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}