.profile__info-section {
  display: flex;
  width: 70%;
}

@media screen and (max-width: 767px) {
  .profile__info-section {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}