@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);

/* header */

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* profile */

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info-section/profile__info-section.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__bio/profile__bio.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__name-container/profile__name-container.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

/* cards-grid */

@import url(../blocks/cards-grid/cards-grid.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__sign/card__sign.css);
@import url(../blocks/card/__heading/card__heading.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);

/* cards-grid */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* popup */

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);

/* figure */

@import url(../blocks/figure/figure.css);
@import url(../blocks/figure/__image/figure__image.css);
@import url(../blocks/figure/__figcaption/figure__figcaption.css);

/* form */
@import url(../blocks/form/form.css);
@import url(../blocks/form/__heading/form__heading.css);
@import url(../blocks/form/__input-container/form__input-container.css);
@import url(../blocks/form/__save-button/form__save-button.css);
@import url(../blocks/form/__form-item/form__form-item.css);
