.form__form-item {
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 4px 0 9px 0;
}

.form__form-item:focus {
  outline-color: #4255de;
}
